.container{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
}

.row{
    font-weight: bolder;
    padding: 20px;

}
.horizone{
    border: 1px solid #f4f4f4;
}
.deleteBtn{
    float: right;
    color: white;
    padding: 5px 8px;
    background-color: red;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}